:root{
    --cor-1: #fff;
    --cor-2: #000;
    --cor-3: #121212;
    --cor-4: #3f3f3f;
    --cor-5: #787878;
    --cor-6: rgb(69, 183, 69);
    --font-1: "DM sans", sans-serif;
}

body {
    background-color: var(--cor-2);
    color: var(--cor-1);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 2px;
}

.sidebar ul {
    padding-top: 8px;
}

.sidebar li {
    padding: 10px 0 10px 5px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-family: var(--font-1);
    color: var(--cor-1);
    font-weight: 600;
    font-size: 14px;
}

.sidebar-navigation {
    background-color: var(--cor-3);
    margin: 8px;
    padding: 14px;
    border-radius: 8px;
}

.logo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-3);
    border-radius: 8px;
}

.logo img {
    width: 80px;
}

.library {
    background-color: var(--cor-3);
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    font-family: var(--font-1);
}

.library-content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.library-content-button {
    border: none;
    background: none;
    color: var(--cor-1);
    font-weight: 700;
    font-size: 14px;
}

.section-playlist {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-4);
    border-radius: 8px;
    padding: 8px;
    margin: 8px 2px;

}

.section-playlist-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px 2px;
}

.title {
    font-weight: 700;
    font-size: 14px;
}

.subtitle {
    font-size: 12px;
}

.title, .subtitle {
    padding-bottom: 14px;
}

.section-playlist-button {
    border: none;
    outline: none;
    margin-top: 4px;
    padding: 12px;
    width: 120px;
    background-color: var(--cor-1);
    border-radius: 20px;
}

.section-playlist-button > span {
    color: var(--cor-2);
    font-weight: 700;
    cursor: pointer;
}

.cookies {
    margin: 8px 0 8px 16px;
}

.cookies > a {
    text-decoration: none;
    color: var(--cor-5);
    font-size: 12px;
    font-weight: 300;
}

.cookies > a:hover {
    text-decoration: underline;
}

.language {
    margin: 8px 0 8px 16px;
    padding-top: 4px;
}

.language-button {
    border: 1px solid var(--cor-1);
    border-radius: 20px;
    background: transparent;
    padding: 12px;
    color: var(--cor-1);
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: var(--cor-6);
    padding: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-1);
    color: var(--cor-1);
    font-size: 14px;
    font-weight: bold;
}

.footer-text > p {
    padding: 4px;
}

#footer-button {
    outline: none;
    border: none;
    background-color: var(--cor-1);
    border-radius: 20px;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
}