body {
    background-color: var(--cor-2);
    color: var(--cor-1);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 2px;
}

.sidebar ul {
    padding-top: 8px;
}

.sidebar li {
    padding: 10px 0 10px 5px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-family: var(--font-1);
    color: var(--cor-1);
    font-weight: 600;
    font-size: 14px;
}

.sidebar-navigation {
    background-color: var(--cor-3);
    margin: 8px;
    padding: 14px;
    border-radius: 8px;
}

.logo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-3);
    border-radius: 8px;
}

.logo img {
    width: 80px;
}

.library {
    background-color: var(--cor-3);
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    font-family: var(--font-1);
}

.library-content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.library-content-button {
    border: none;
    background: none;
    color: var(--cor-1);
    font-weight: 700;
    font-size: 14px;
}

.section-playlist {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-4);
    border-radius: 8px;
    padding: 8px;
    margin: 8px 2px;

}

.section-playlist-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px 2px;
}

.title {
    font-weight: 700;
    font-size: 14px;
}

.subtitle {
    font-size: 12px;
}

.title, .subtitle {
    padding-bottom: 14px;
}

.section-playlist-button {
    border: none;
    outline: none;
    margin-top: 4px;
    padding: 12px;
    width: 120px;
    background-color: var(--cor-1);
    border-radius: 20px;
}

.section-playlist-button > span {
    color: var(--cor-2);
    font-weight: 700;
    cursor: pointer;
}

.cookies {
    margin: 8px 0 8px 16px;
}

.cookies > a {
    text-decoration: none;
    color: var(--cor-5);
    font-size: 12px;
    font-weight: 300;
}

.cookies > a:hover {
    text-decoration: underline;
}

.language {
    margin: 8px 0 8px 16px;
    padding-top: 4px;
}

.language-button {
    border: 1px solid var(--cor-1);
    border-radius: 20px;
    background: transparent;
    padding: 12px;
    color: var(--cor-1);
    cursor: pointer;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgb(205, 64, 151), purple, rgb(77, 77, 210));
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.footer-text-title, .footer-text-subtitle {
    font-family: var(--font-1);
    color: var(--cor-1);
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}

.footer-text-subtitle {
    font-weight: 300;
}

.footer-button > button {
    outline: none;
    border: none;
    background-color: var(--cor-1);
    border-radius: 20px;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
}