:root {
    --cor-1: #fff;
    --cor-2: #000;
    --cor-3: #121212;
    --cor-4: #3f3f3f;
    --cor-5: #787878;
    --cor-6: rgb(69, 183, 69);
    --card-1: rgb(0, 100, 80);
    --card-2: rgb(132, 0, 231);
    --card-3: rgb(30, 50, 100);
    --card-4: rgb(140, 25, 50);
    --card-5: rgb(232, 17, 91);
    --card-6: rgb(83, 122, 161);
    --card-7: rgb(142, 102, 172);
    --card-8: rgb(20, 138, 8);
    --card-9: rgb(30, 50, 100);
    --card-10: rgb(233, 20, 41);
    --card-11: rgb(80, 55, 80);
    --card-12: rgb(216, 64, 0);
    --card-13: rgb(186, 93, 7);
    --card-14: rgb(0, 30, 80);
    --card-15: rgb(60, 30, 80);
    --font-1: "DM sans", sans-serif;
}